[Unit]
Description=Watch recursively for videos to encode as AV1
After=local-fs.target
RequiresMountsFor=/srv/video/incoming

[Service]
Type=simple
User=av1-encoder
Group=av1-encoder
StateDirectory=av1-encoder
ExecStart=/usr/local/bin/watch-av1-folder
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
